
  h1 {
    text-align: center;
  }

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;


  i {
    flex-basis: auto;
    font-size: 70px;
  }
  #gmail:hover {
    color: red;
    }
  #linkedin:hover {
    color: blue;
  }
  #github{
    opacity: 0.85;
    &:hover {
      opacity: 1;
    }
  }

}