p {
  font-size: 30px;
  text-align: center;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  position: relative;
  margin: 30px;
}
h3, h4 {
  text-align: center;
  font-size: 60px;
}
#projects {
  display: flex;
  justify-content: space-evenly;
  height: 500px;
}
